.outer-container-SPJS {
            width: 100%;
            text-align: center;
            background-color: rgb(0,0,0);
}
.inner-container-SPJS {
    display: inline-block;
    position: relative;
}
.video-overlay-SPJS {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 85%;
    padding: 5px 5px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 24pt;
    font-family: Helvetica;
    color: #FFF;
}

.control-SPJS {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 90%;
    padding: 5px 5px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 24pt;
    border-radius: 2px;
}
